<style>
        body{
            background-color: rgb(57, 82, 73);font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            color: blue;
        }
        h2{
            color: rgb(90, 223, 57);
        }
        p{
            text-align: justify;
        }
    </style>